<a href="https://colab.research.google.com/github/mazette04/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python

Python Variables

In [9]:
x =float(1)

a,b,c="Sally", "John","Ana"
a, b, c = 0, -1, 2

print('This a sample') 
print(a)
print(c)

This a sample
0
2

Casting

In [10]:
print(x)

1.0

Type() Function

In [12]:
y = "Johnny"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [19]:
#h = "Maria"
h = 'Maria'
v = 1
V = 2

print(h)
print(v)
print(V)

Maria
1
2

Multiple Variables

In [26]:
x,y,z = "one", "two", 'three'

print(x)
print(y)
print(z)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

one
two
three
one two three
<class 'str'>
<class 'str'>
<class 'str'>

One Value to Multiple Variables

In [28]:
x = y = z = "Stella"
print(x,y,z)
print(x)
print(y)
print(z)

Stella Stella Stella
Stella
Stella
Stella

Output Variables

In [31]:
x = "enjoying"
y = "Python is"

print(y + " " + x)

Python is enjoying