<a href="https://colab.research.google.com/github/mazette04/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [3]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() function

In [10]:
print(bool("Maria"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [17]:
def myFunction():
  return True

print(myFunction())

True

In [18]:

if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Application 1

In [34]:
a=60
b=13
print(a>b)

if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

True
a is greater than b

Python Operators

In [23]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

Bitwise Operators

In [29]:
# a = 60 , binary 0011 1100     
#b = 13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

12
61
49
120
240

Application 2

In [32]:
#Assignment Operators
x = 2
x+=3 # the same as x = x+3 , x = 2+3=5
print(x)

5

Logical Operators

In [38]:
k = True
l = False
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identity Operators

In [41]:
k is l
k is not l

True

#Control Structure

If Statement

In [48]:
v = 1
z = 1

if 1<2:
  print("1 is less than 2")

1 is less than 2

Elif Statement

In [45]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

v is greater than z

Else Statement

In [56]:
number = int(input())   # to know if the number is positive or negative

if number>0:
  print("positive")
elif number<0:
  print("negative")
else:
  print("number is equal to zero")

5
positive

Application 3 - Develop a Python program that will accept if a person is entitled to vote or not

In [58]:
age = int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualfied to vote")

15
You are not qualfied to vote

Nested If... Else

In [67]:
u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
        if u>50:
          print("u is above 50")
        else:
          print("u is below 50")

49
u is above 10
u is above 20
u is above 30
u is above 40
u is below 50

#Loop Structure

In [70]:
week = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
season = ["rainy","sunny"]
 
for x in week:
  for y in season:
   print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [82]:
for x in week:
   if x == "Thursday":
      break
print(x)

Thursday

In [83]:
for x in week:
   if x == "Thursday":
      break
   print(x)

Sunday
Monday
Tuesday
Wednesday

In [84]:
# To display Sunday to Thursday

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [85]:
i=1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

Application 4 - Create a Python program that displays numbers from 1 to 4 using While loop statement

In [87]:
j = 1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 Create a Python program that displays number 4 using While loop statement and break statement

In [88]:
j = 1

while j<=4:
  if j==4:
    print(j)
  j+=1

4